<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ess.filepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.ess.filepicker.activity.SelectFileByBrowserActivity" />
        <activity android:name="com.ess.filepicker.activity.SelectPictureActivity" />
        <activity android:name="com.ess.filepicker.activity.SelectFileByScanActivity" />

        <provider
            android:name="com.ess.filepicker.model.EssFileProvider"
            android:authorities="${applicationId}.ess.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.ess.filepicker.activity.PicturesViewActivity"/>
    </application>

</manifest>